<!-- <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody id="myTable">
    <%#= render partial: 'contacts', collection: @customer %>
      <% @contacts.each do |c| %>
        <tr>
          <td><%= c.name %></td>
          <td><%= c.company %></td>
          <td><%= c.email %></td>
          <td><%= c.phone %></td>
          <td><%= c.address %></td>
          <td><%= image_tag c.avatar.url(:thumb), class: "media-object", style: "width:100px; height: 100px;" %></td>
        </tr>
      <% end %>
    </tbody>
  </table> -->

</div class="col-md-10 col-md-offset-1">
    <div class="jumbotron text-center">
      <h1>Free Online Contact Manager</h1>
      <p class="lead">Organize your contacts freely and easily</p>
      <p>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-default btn-lg" %>
      </p>
    </div>
</div>
