<tr id="contact-<%= contact.id %>">
	<td class="middle">
	  <div class="media">
	    <div class="media-left">
	      <a href="#">
	        <!-- <img class="media-object" src="http://placehold.it/100x100" alt="..."> -->
					<%= image_tag contact.avatar.url(:thumb), class: "media-object", style: "width:100px; height: 100px;" %>
	      </a>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading"><%= contact.name %></h4>
	      <address>
	        <strong><%= contact.company %></strong><br>
	        <%= contact.email %>
	      </address>
	    </div>
	  </div>
	</td>
	<td width="100" class="middle">
	  <div>
	    <!-- <a href="#" class="btn btn-circle btn-default btn-xs" title="Edit">
	      <i class="glyphicon glyphicon-edit"></i>
	    </a> -->
	    	
			<%= link_to edit_contact_path(contact), class: "btn btn-circle btn-default btn-xs", title: "Edit", remote: true do %>
 				<i class="glyphicon glyphicon-edit"></i>
			<% end %>
			<!-- 1st delete version -->
			<%#= link_to destroy_contact_path(contact), method: :delete, class: "btn btn-circle btn-danger btn-xs", title: "Delete" , data: {confirm: "Are you sure?"} do %>
			<!-- 2nd delete version -->
			<%#= link_to contact_path(contact), method: :delete, class: "btn btn-circle btn-danger btn-xs", title: "Delete" , data: {confirm: "Are you sure?"}, remote: true do %>
			<!-- 3rd delete version -->
			<%= link_to delete_contact_path(contact), class: "btn btn-circle btn-danger btn-xs", title: "Delete",  remote: true do %>
 				<i class="glyphicon glyphicon-remove"></i>
			<% end %>
	  </div>
	</td>
</tr>
