


<%= form_for(@contact, html: { multipart: true }, remote: local_assigns[:ajax_form]) do |f| %>

		<div class="card">
		  <br>
		  <%= image_tag @contact.avatar.url(:medium) %>
		  <h3><%= @contact.name %></h3>
		  <p class="title"><i class="fa fa-superpowers"></i>CEO & Founder</p>
		  <p><%= @contact.company %></p>
		  <p><i class="fa fa-envelope"></i><%= @contact.email %></p>
		  <p><i class="fa fa-phone"></i><%= @contact.phone %></p>
		  <div style="margin: 24px 0;">
		    <a class="id-link" href="#"><i class="fa fa-dribbble fa-2x"></i></a> 
		    <a class="id-link" href="#"><i class="fa fa-twitter fa-2x"></i></a>  
		    <a class="id-link" href="#"><i class="fa fa-linkedin fa-2x"></i></a>  
		    <a class="id-link" href="#"><i class="fa fa-facebook fa-2x"></i></a> 
		 </div>
		<div class="modal-footer">
	      
	        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Close</button>
	      
	  </div>
  </div>
<% end %>