<%#= form_for(@contact, url: @contact.new_record? ? create_contact_path : update_contact_path(@contact), html: {multipart: true}) do |f| %>
<%= form_for(@contact, html: { multipart: true }, remote: local_assigns[:ajax_form]) do |f| %>

  <div class="panel-body">

    <div class="form-horizontal">
      <div class="row">
        <div class="col-md-8">

<!-- updated customized error validator  -->
          <%= content_tag :div, class: "form-group #{'has-error' if has_errors?(@contact, :name)}" do %>
          <%#= content_tag :div, class: "form-group #{'has-error' if @contact.errors.messages[:name].present?}" do %>
            <%= f.label :name, class: "control-label col-md-3" %>
            <div class="col-md-8">
              <%= f.text_field :name, class: "form-control" %>
              <% if has_errors?(@contact, :name) %>
                <span class="help-block">
                  <%= get_error(@contact, :name) %>
                  <%= flash[:error] %>
                </span>
              <% end %>
            </div>
          <% end %>



          <div class="form-group">
            <%= f.label :company, class: "control-label col-md-3" %>
            <div class="col-md-8">
              <%= f.text_field :company, class: "form-control" %>
            </div>
          </div>

          <%= content_tag :div, class: "form-group #{'has-error' if has_errors?(@contact, :email)}" do %>
            <%= f.label :email, class: "control-label col-md-3" %>
            <div class="col-md-8">
              <%= f.text_field :email, class: "form-control" %>
              <% if has_errors?(@contact, :email) %>
                <span class="help-block">
                  <%= get_error(@contact, :email) %>
                </span>
              <% end %>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :phone, class: "control-label col-md-3" %>
            <div class="col-md-8">
              <%= f.text_field :phone, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :address, class: "control-label col-md-3" %>
            <div class="col-md-8">
              <%= f.text_field :address, class: "form-control" %>
            </div>
          </div>

          <%= content_tag :div, class: "form-group #{'has-error' if has_errors?(@contact, :group_id)}" do %>
            <%= f.label :group_id, class: "control-label col-md-3" %>
            <div class="col-md-5">
              <%#= f.collection_select :group_id, Group.all, :id, :name, {prompt:"Select Group"}, class: "form-control" %>
              <% attr = {prompt:"Select Group"} %>
              <% attr[:selected] = session[:selected_group_id].to_i if session[:selected_group_id] %>
              <%#= f.collection_select :group_id, Group.all, :id, :name, attr, class: "form-control" %>
              <%= f.collection_select :group_id, current_user.groups, :id, :name, attr, class: "form-control" %>
            </div>
            <div class="col-md-3">
              <a href="#" id="add-group-btn" class="btn btn-default btn-block">Add Group</a>
            </div>
              <% if has_errors?(@contact, :group_id) %>
                <div class="form-group">
                  <div class="col-sm-12 col-sm-offset-3">
                    <span class="help-block">
                      <%= get_error(@contact, :group_id) %>
                    </span>
                  </div>
                </div>
              <% end %>
          <% end %>

          <!-- new -->
          <div class="form-group" id="add-new-group">
          <!-- old <div class="form-group" id="add-new-group" style="display: none;"> -->
            <div class="col-md-offset-3 col-md-8">
              <div class="input-group">
                <input type="text" name="contact[new_group]" id="new_group" class="form-control">
                <span class="input-group-btn">
                  <!-- <a href="#" class="btn btn-default"> -->
                  <a id="save-group-btn" class="btn btn-default">
                    <i class="glyphicon glyphicon-ok"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new thumbnail" style="width: 150px; height: 150px;">
              <!-- <img src="http://placehold.it/150x150" alt="Photo"> -->
              <%= image_tag @contact.avatar.url(:medium) %>
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
            <div class="text-center">
              <span class="btn btn-default btn-file"><span class="fileinput-new">Choose Photo</span><span class="fileinput-exists">Change</span><%= f.file_field :avatar %></span>
              <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# unless local_assigns[:ajax_form] %>
      <!-- <div class="panel-footer">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-offset-3 col-md-6">
                <%#= f.submit @contact.new_record? ? "Save" : "Update", class: "btn btn-primary" %>
                <a href="#" class="btn btn-default">Cancel</a>
                <%#= link_to 'Back', contacts_path, class: "btn btn-default" %>
              </div>
            </div>
          </div>
        </div>
      </div> -->
  <%# end %>
    <div class="modal-footer">
      <div class="col-lg-6 col-lg-offset-5">
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
        <%= f.submit @contact.new_record? ? "Save Record" : "Save Changes", class: "btn btn-primary btn-lg" %>
      </div>
    </div>

<!-- </form> -->
<% end %>
